@import './base.css';

#app {
    margin: 0 auto auto var(--navbar-width);
    padding: 2rem;
    font-weight: normal;
}

a,
.color-primary {
    text-decoration: none;
    color: var(--color-primary);
    transition: 0.4s;
    padding: 3px;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-side-container {
    width: cale(class="board-side-container" var(--board-container-size) * 0.7);
    padding: 0 2rem;
}

@media (hover: hover) {
    a:hover {
        background-color: var(--color-primary-hover);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        justify-content: space;
    }

    #app {
        display: flex;
    }
}
