@import './base.css';

#app {
    margin: 0 auto auto var(--navbar-width);
    padding: 2rem;
    font-weight: normal;
}

a,
.color-primary {
    text-decoration: none;
    color: var(--color-primary);
    transition: 0.4s;
    padding: 3px;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-side-container {
    width: cale(class="board-side-container" var(--board-container-size) * 0.7);
    padding: 0 2rem;
}

button {
    padding: 1rem 2rem;
    border-radius: none;
}

button:hover {
    border: solid var(--light-square);
}

button[data-type="primary"] {
    color: var(--light-square);
    background-color: var(--dark-square);
    border: solid var(--dark-square);
}

button[data-type="primary"].active {
    border: solid var(--light-square);
    color: var(--light-square);
}

button[data-type="primary"]:hover {
    border: solid var(--light-square);
    color: var(--light-square);
}

button[data-type="secondary"] {
    background-color: var(--backgound-color);
    border: solid var(--dark-square);
    color: var(--dark-square);
}

button[data-type="secondary"].active {
    color: var(--light-square);
    border: solid var(--light-square);
}

button[data-type="secondary"]:hover {
    color: var(--light-square);
    border: solid var(--light-square);
}

@media (hover: hover) {
    a:hover {
        background-color: var(--color-primary-hover);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        justify-content: space;
    }

    #app {
        display: flex;
    }
}
